/* Navigation.module.css */

.navbar {
    display: flex;
    justify-content: center;
    /* Центрує навігацію по горизонталі */
    align-items: center;
    /* Вирівнює по вертикалі */
    position: fixed;
    /* Фіксує навігацію */
    top: 0;
    /* Вирівнює навігацію по верхньому краю */
    width: 100%;
    /* Ширина на всю ширину екрану */
    background-color: #333;
    /* Колір фону для навігації */
    padding: 10px 0;
    /* Відступи з верхньої та нижньої частин */
    z-index: 1000;
    /* Забезпечує, що навігація буде поверх інших елементів */
}

.link {
    color: white;
    /* Колір тексту */
    text-decoration: none;
    /* Вимикає підкреслення посилань */
    margin: 0 15px;
    /* Відступи між посиланнями */
    font-size: 16px;
    /* Розмір шрифту */
}

.link:hover {
    text-decoration: underline;
    /* Підкреслення при наведенні */
}